.freeformcanvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; // allows scrolling
    background-size: 25px 25px;
    background-color: rgb(248, 245, 241);
    background-image: radial-gradient(circle, rgb(189, 174, 143) 1px, transparent 1px); // Creates dots

    .freeformcanvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}

