.node {
    &.textNode {
        background: #caa5c6;
        position: absolute;
    }
    
}

.text-connections-button {
    position: relative;
    left: 0;
    top: 0;
    background: transparent;
    color: white;
    border: 0px;
    cursor: pointer;
}