.node {

    &.videoNode {
        background: #aea7c3;
    }

    video {
        width: 100%;
    }
}

.video-connections-button {
    position: relative;
    left: 0;
    top: 0;
    background: transparent;
    color: white;
    border: 0px;
    cursor: pointer;
}