.node {
    &.formattableTextNode {
        background: #caa5aa;
        position: relative;
    }
    
}

.formattable-connections-button {
    position: absolute;
    left: 0;
    top: 1px;
    background: transparent;
    color: white;
    border: 0px;
    cursor: pointer;
}